#Lets Start Programming

## Hello World

In [ ]:
print("Hello World")

Hello World

## Add two numbers

In [ ]:
a = 5
b = 6.5
sum = a + b
print (f"sum of {a} + {b} = {sum}")

sum of 5 + 6.5 = 11.5

In [ ]:
a = input('Enter 1st number:')
b = input('Enter 2nd number:')
sum = float(a) + float(b)
print (f"sum of {a} + {b} = {sum}")

Enter 1st number:5
Enter 2nd number:6.5
sum of 5 + 6.5 = 11.5

## Find Square root

In [ ]:
a = 6.5
sqrt = 6.5 ** 0.5 # ** is used for exponentiation
print("Square root of", a , "is :" , sqrt)

Square root of 6.5 is : 2.5495097567963922

## Find Square root of real or complex number

In [ ]:
import cmath #Import complex math module
a = 64-64j
sqrt = cmath.sqrt(a)
print("Square root of", a , "is :" , sqrt)

Square root of (64-64j) is : (8.78947290774248-3.6407188844978187j)

## Find area of triangle

In [ ]:
a = 3
b = 4
c = 5

s = (a+b+c)/2 #semi-parameter
area = (s*(s-a)*(s-b)*(s-c))**0.5 #area


print(f"The area of Triangle is, while having first side = {a},second side = {b} and third side = {c} is :" , area)

The area of Triangle is, while having first side = 3,second side = 4 and third side = 5 is : 6.0

## Swap 2 variables

In [ ]:
x = 5
y = 10

temp = x #Take 3rd variable to store value of x
x = y #put x in y
y = temp #put y in temp

print("after swapping:")
print("x =", x)
print("y =", y)

after swapping:
x = 10
y = 5

In [ ]:
x = 5
y = 10

x,y = y,x

print("after swapping:")
print("x =", x)
print("y =", y)

after swapping:
x = 10
y = 5

## Find roots of Quadratic Equation

In [ ]:
# ax^2 + bx + c = 0  #Standard equation, where a cannot be 0

import cmath #Import Complex Math module

#Coeff. of quadratic equation
a = 1
b = 5
c = 6

#Calculate the discriminant

d = (b**2) - (4*a*c)

#Find two solutions

root1 = (-b-cmath.sqrt(d))/(2*a)
root2 = (-b+cmath.sqrt(d))/(2*a)

print("The roots are:", root1, root2)

The roots are: (-3+0j) (-2+0j)

## Covert Kilometers to Miles

In [ ]:
# 1 kilometer = 0.621371 miles

km = float(input("enter kilometers:"))
conv_fc = 0.621371 #Conversion factor

miles = km * conv_fc

print("%0.3f kilometers is equals to %0.3f miles" %(km,miles))  #0.3f = print decimal points upto 3 places

enter kilometers:5.5
5.500 kilometers is equals to 3.418 miles

## Covert Miles to Kilometers

In [ ]:
# 1 miles = 1.609 kilometer

miles = float(input("enter miles:"))
conv_fc = 0.621371 #Conversion factor

km = miles / conv_fc

print("%0.3f miles is equals to %0.3f kilometers" %(miles,km))  #0.3f = print decimal points upto 3 places

enter miles:5
5.000 miles is equals to 8.047 kilometers

## Convert Celsius to Fahrenheit

In [ ]:
# Celsius * 1.8 = fahrenheit - 32
# (Celsius * 1.8) + 32 = fahrenheit
#0 deg = 32 f

celsius = 37.5
fahrenheit = (celsius * 1.8) + 32

print("%0.1f degree celsius is equals to %0.1f degree fahrenheit" %(celsius,fahrenheit))
#0.1f = print decimal point upto 1 place

37.5 degree celsius is equals to 99.5 degree fahrenheit

##Convert Fahrenheit to Celsius

In [ ]:
# Celsius * 1.8 = fahrenheit - 32
# Celsius = (fahrenheit - 32) / 1.8
# 32 f = 0 deg

fahrenheit = 10
celsius = (fahrenheit - 32) / 1.8

print("%0.1f degree fahrenheit is equals to %0.1f degree celcius " %(fahrenheit,celsius))
#0.1f = print decimal point upto 1 place

10.0 degree fahrenheit is equals to -12.2 degree celcius

## Check if Number is Positive, Negative or Zero

In [ ]:
num = float (input("Enter a Number :"))

if num > 0:
  print(num ,"is a Positive Number")
elif num < 0:
  print(num ,"is a Negative Number")
else:
  print("Entered number is Zero")

Enter a Number :0
Entered number is Zero

In [ ]:
#Using nested if statement
num = float (input("Enter a Number :"))

if num >= 0:
  if num == 0:
    print("Zero Entered")
  else:
    print(num ,"is Positive Number")
else:
  print(num ,"is a Negative Number")

Enter a Number :0
Zero Entered

## Check for Even and Odd number

In [ ]:
# even = divisible by 2 (reminder = 0)
# odd = not divisible by 2 (reminder =1)

num = int(input("Enter a number:"))

if (num % 2) == 0:
  print(f"{num} is an Even number")
else:
  print(f"{num} is a Odd number")

Enter a number:45
45 is a Odd number

## Print Even and Odd numbers in given number range

In [ ]:
for i in range(1,21):

  if (i % 2) == 0:
    print(f"{i} is an Even number")
  else:
    print(f"{i} is a Odd number")

1 is a Odd number
2 is an Even number
3 is a Odd number
4 is an Even number
5 is a Odd number
6 is an Even number
7 is a Odd number
8 is an Even number
9 is a Odd number
10 is an Even number
11 is a Odd number
12 is an Even number
13 is a Odd number
14 is an Even number
15 is a Odd number
16 is an Even number
17 is a Odd number
18 is an Even number
19 is a Odd number
20 is an Even number

## Check if year is Leap or Not

In [ ]:
# Leap Year = A year which is exactly divisible by 4 (except century years (ends with 00))
# Century years should be perfectly divisible by 400.

year = int(input("Enter a year:"))

if (year % 4) == 0: #if block of 4
  if (year % 100) == 0: #if block of 100
    if (year % 400) == 0:
      print(f"{year} is a Leap year") #if block of 400
    else:
      print(f"{year} is not a Leap year") #else block of 400
  else:
    print(f"{year} is a Leap year") #else block of 100
else:
  print(f"{year} is not a Leap year") #if block of 4

#explaination :
# 1. Not div by 4 = not a leap year (enters else block of 4)
# 2. Div by 4 but not by 100 = leap year (enters else block of 100)
# 3. Div by 4 & 100 but not by 400 = not a leap year (enters else block of 400)
# 4. Div by 4 & 100 and 400 = not a leap year (enters if block of 400)

Enter a year:2012
2012 is a Leap year

## Find largest number among 3 numbers

In [ ]:
num1 = float(input("Enter 1st Number:"))
num2 = float(input("Enter 2nd Number:"))
num3 = float(input("Enter 3rd Number:"))

if (num1 >= num2) and (num1>= num3):
  largest = num1
elif (num2>= num3) and (num2>=num1):
  largest = num2
else:
  largest = num3

print(f"Largest number between {num1},{num2},{num3} is {largest}")

Enter 1st Number:1
Enter 2nd Number:2
Enter 3rd Number:2.1
Largest number between 1.0,2.0,2.1 is 2.1

## Prime Number check

In [ ]:
# A positive number greater than 1 and has no other factors except 1 = Prime Number

num = int(input("Enter a number:"))

if num>1: #Check for factors
  for i in range(2,num):
    if (num % i) == 0:
      print(num, "is not a prime number")
      print(i, "times", num//i, "is" , num)
      break
  else:
    print(num, "is a Prime number")
else:
  print(num, "is not a prime number") #if input num is less than or equals to 1 then its not a prime number

Enter a number:3
3 is a Prime number

## All Prime numbers in given range

In [ ]:
for num in range(1,100):
  if num>1:
    for i in range(2,num):
      if (num % i) == 0:
        break
    else:
      print( num , end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

## Factorial of a number

In [ ]:
# Factorial of 6 = 1*2*3*4*5*6 = 720
# (6!) = 720

num = int(input("Enter a number to find factorial :"))
factorial = 1

if num < 0:
  print("can not find factorial for negative numbers")
elif num == 0:
  print("The factorial of 0 is 1")
else:
  for i in range(1, num+1):
    factorial = factorial * i

  print(f"The factorial of {num} is ", factorial)

Enter a number to find factorial :6
The factorial of 6 is  720

## Multiplication table display

In [ ]:
num = int(input("Display the multiplication table of : "))

count = 1

while count < 11:
  print(num, 'X' ,count, '=', num*count)
  count += 1

Display the multiplication table of : 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

## Fibonacci Sequence

In [ ]:
# A Fibonacci sequence is the integer sequence of 0,1,1,2,3,5,8...
# First two terms are 0 & 1 then addition of two preceding numbers... 1+1=2 2+3=5 3+5=8

nterms = int(input("How many terms :"))

#First two terms
n1 = 0
n2 = 1
count = 0

if nterms <= 0:
  print("Enter a positive number:")
elif nterms == 1:
  print("Fibonacci sequence upto", nterms, ":")
  print(n1)
else:
  print("Fibonacci sequence upto", nterms, ":")
  while count < nterms:
    print(n1,end='')
    nth = n1 + n2

    n1 = n2
    n2 = nth

    count += 1

print()

#Explaination :

#count(5) -- 0..1..2..3..4
#print(n1) -- 0..1..1..2..3 Final Output
#nth=n1+n2 -- 1..2..3..5..8
#n1=n2 -- 1..1..2..3..5
#n2=nth -- 1..2..3..5..8

How many terms :5
Fibonacci sequence upto 5 :
01123

## Find Armstrong number in sequence

In [ ]:
# 153 = 1*1*1 + 5*5*5 + 3*3*3 (n=3)

lower = 100
upper = 2000

for num in range(lower, upper + 1):
  order = len(str(num)) #order of number
  sum = 0
  temp = num #find the sum of cube of each digit

  while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

  if num == sum:
    print(num)

#Explaination:
# temp = 153 .. 15 .. 1
# digit = 3 .. 5.. 1
# sum+= digit**order .. 0+3*3=27, 27+5**3=152, 152+1**3=153
#num==sum then 153 is printed

153
370
371
407
1634

## Sum of Natural numbers

In [ ]:
# sum = n*(n+1) / 2

num = int(input("Enter a number:")) # 5 = 5+4+3+2+1 = 15

if num < 0:
  print("Enter a Positive number...")
else:
  sum=0

  while num > 0: #Adding each number manually
    sum += num
    num -= 1

  print("The sum is:", sum)

Enter a number:5
The sum is: 15

In [ ]:
num = int(input("Enter a number:")) # 5 = 5+4+3+2+1 = 15

if num < 0:
  print("Enter a Positive number...")
else:
  sum = num*(num+1) / 2 #Using sum formula
  print("The sum is:", sum)

Enter a number:5
The sum is: 15.0

## Display power of 2 using Anonymous function

In [ ]:
terms = int(input("How many terms "))

result = list(map(lambda x: 2**x, range(terms)))

print("The total term is:", terms)

for i in range(terms):
  print("2 raised to power", i ,"is", result[i])

How many terms 10
The total term is: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

## Find Numbers Divisible by another number

In [ ]:
my_list = [12,65,54,39,102,333,221]
num = 13

result = list(filter(lambda x: (x % num == 0), my_list))
#Filter () used to filter out those numbers in the list that are divisible by num

print("Numbers divisible by", num , "are", result)

Numbers divisible by 13 are [65, 39, 221]

## Convert Decimal to Binary , Octal to Hexadecimal

In [ ]:
from tokenize import Hexnumber
# 60 = 0b11100 = 0o74 = 0x3c

dec = 60

print("The decimal value of", dec, "is:")
print(bin(dec),"in binary")
print(oct(dec),"in octal")
print(hex(dec),"in hexa")

The decimal value of 60 is:
0b111100 in binary
0o74 in octal
0x3c in hexa

## Find ASCII value of Character

In [ ]:
# ASCII of A = 65

char = 'A'

print("The ASCII value of ' " + char + " ' is" , ord(char))

The ASCII value of ' A ' is 65

## Find HCF or GCD

In [ ]:
# HCF = Highest Common Fator
# GCD = Greatest Common Divisor

# its a number which perfectly divides given two numbers.
# HCF of 12 & 14 is 2.

def hcf(x,y):
  if x > y:
    smaller = y
  else:
    smaller = x
  for i in range(1,smaller+1):
    if ((x % i == 0) and (y % i == 0)):
      hcf = i
  return hcf

num1 = 12
num2 = 14

print("The HCF of", num1, "and", num2, "is:", hcf(num1,num2))

The HCF of 12 and 14 is: 2

## find LCM

In [ ]:
# The Least Common Multiple (LCM) of two numbers is the smallest no that is perfectly div by given two numbers.
# LCM of 12 & 14 is 84.

def lcm(x,y):
  if x > y :
    greater = x
  else:
    greater = y

  while(True):
    if ((greater % x == 0) and (greater % y == 0)):
      lcm = greater
      break
    greater += 1
  return lcm

num1 = 12
num2 = 14

print("the LCM of",num1,"and",num2,"is:", lcm(num1,num2))

the LCM of 12 and 14 is: 84

## Find Factors of Number

In [ ]:
#Any number is a factor of a number, if its perfectly divisible.
# factors of 6 = 1,2,3,6

def fac(x):
  print("Factors of",x,"are:")

  for i in range(1,x+1):
    if x % i == 0:
      print(i)

num = int(input("Enter number to findout the factorial:"))
fac(num)

Enter number to findout the factorial:6
Factors of 6 are:
1
2
3
6

## Simple Calculator

In [ ]:
def add(x,y):
  return x+y

def subtract(x,y):
  return x-y

def multiply(x,y):
  return x*y

def divide(x,y):
  return x/y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiplication")
print("4. Division")

choice = input("Enter your choice :")
num1 = int(input("Enter first number :"))
num2 = int(input("Enter second number :"))

if choice == '1':
  print(num1, "+",num2, "=", add(num1,num2))
elif choice == '2':
  print(num1, "-",num2, "=", subtract(num1,num2))
elif choice == '3':
  print(num1, "*",num2, "=", multiply(num1,num2))
elif choice == '4':
  print(num1, "/",num2, "=", divide(num1,num2))
else:
  print("Invalid Choice")

Select operation:
1. Add
2. Subtract
3. Multiplication
4. Division
Enter your choice :1
Enter first number :2
Enter second number :3
2 + 3 = 5

## Shuffle Deck of Cards

In [ ]:
# 1 to 13 (Spades,Hearts,Diamonds,Clubs)
import itertools, random
deck = list(itertools.product(range(1,14),['Spade','Hearts','Diamond','Club']))

random.shuffle(deck)

print("You got:")
for i in range(5):
  print(deck[i][0], "of", deck[i][1])

You got:
3 of Hearts
2 of Diamond
1 of Club
6 of Diamond
8 of Club

## Display Calendar

In [ ]:
import calendar

year = int(input("Enter a Year:"))
month = int(input("Enter a month:"))

print(calendar.month(year,month))

Enter a Year:2014
Enter a month:11
   November 2014
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

## Add two Matrix

In [ ]:
x = [[12,7,3],[4,5,6],[7,8,9]]
y = [[5,8,1],[6,7,3],[4,5,9]]
result = [[0,0,0],[0,0,0],[0,0,0]]

#Iterate through rows
for i in range(len(x)):
  #iterate through columns
  for j in range(len(x[0])):
    result[i][j] = x[i][j] + y[i][j]

for r in result:
  print(r)

print(len(x))
print(len(x[0]))

#EXplaination =

# i     j     result[i][j] = x[i][j] + y[i][j]
# 0     0     12+5 = 17
# 0     1     7+8 = 15
# 0     2     3+1 = 4
# 1     0     4+6 = 10
# 1     1     5+7 = 12
# 1     2     6+3 = 9
# 2     0     7+4 = 11
# 2     1     8+5 = 12
# 2     2     9+9 = 18

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]
3
3

## Transpose a Matrix

In [ ]:
# Iterchanging of row & columns
# if matrix is 3x2 then after transposing it will be 2x3

x = [[12,7],
     [4,5],
     [3,8]]

result = [[0,0,0],
          [0,0,0]]

#Iterate through rows
for i in range(len(x)):
  for j in range(len(x[0])): #iterate through columns
    result[j][i] = x[i][j]
for r in result:
  print(r)

print(len(x))
print(len(x[0]))

#EXplaination

# i = 0 , 0 , 1 , 1 , 2 , 2
# j = 0 , 1 , 0 , 1 , 0 , 1
# r = 12 , 7 , 4 , 5 , 3 , 8

[12, 4, 3]
[7, 5, 8]
3
2

## Check if given String is a palindrome or not

In [ ]:
def pal(str1):
  str1 = str1.casefold()
  rev_str1 = str1[::-1]
  if str1 == rev_str1:
    return "Palindrome"
  else:
    return "Not a Palindrome"

str2 = "niTiN"
result = pal(str2)
print(f"{str2} is :",result)

niTiN is : Palindrome

## remove Punctuations / special characters from a String

In [ ]:
from string import punctuation

my_str = "Hey!! he said ---and went,"

for char in my_str:
  if char not in punctuation:
    print(char,end='')

Hey he said and went

## Sort words in Alphabetical Order

In [ ]:
str2 = "Hello this Is an Example with Cased Letters"

words = str2.split()
words.sort() #sort the list

print("The sorted words are:")
for i in words:
  print(i,end=' ') #First calpital words are sorted and then lower case words are sorted Alphabetically.

The sorted words are:
Cased Example Hello Is Letters an this with

## Different Set Operations

In [ ]:
E = {0,2,4,6,8}
N = {1,2,3,4,5}

print("Union of E and N is :", E|N)
print("Intersection of E and N is:", E&N)
print("Difference of E and N is:", E-N)
print("Symmetric Difference of E and N is:", E^N)

Union of E and N is : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of E and N is: {2, 4}
Difference of E and N is: {0, 8, 6}
Symmetric Difference of E and N is: {0, 1, 3, 5, 6, 8}

## Count the number of each Vowel

In [ ]:
vowels = 'aeiou'
#vowels = vowels.lower()

str2 = "Hello, How Are You iBuddy"
str2 = str2.casefold()

count = {}.fromkeys(vowels,0) #Key:vowels and Value=0

for char in str2:
  if char in count:
    count[char] += 1
print(count)

{'a': 1, 'e': 2, 'i': 1, 'o': 3, 'u': 2}

## Anagram String checking

In [ ]:
#IF characters of both strings are equal , then its Anagram String.
# listen = silent (same characters present)

def ana(str1,str2):
  str1 = str1.replace(" ","").lower()
  str2 = str2.replace(" ","").lower()
  return sorted(str1) == sorted(str2)

s1 = "No"
s2 = "On"
result = ana(s1,s2)
print(result)

if result:
  print(f"{s1} and {s2} are Anagram strings")
else:
  print(f"{s1} and {s2} are not Anagram strings")

True
No and On are Anagram strings